@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
width: 8px;

}
::-webkit-scrollbar-thumb {
border: solid 0 transparent;
background-color: #999;
border-radius: 6px;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #16A27F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.file-upload {
    width: 500px;
    background-color: #f8fafd;
    border: 2px dashed rgba(231, 234, 243, .7);
    padding: 20px 35px;
    border-radius: 12px;
    text-align: center;
}


.file-upload .input-group input[type="file"] {
    display: none;
}


.file-upload .input-group .browse-btn {
    background-color: #fff;
    border: 1px solid rgba(231, 234, 243, .7);
    display: inline-block;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: .5s;
}


.file-upload .input-group .browse-btn:hover {
    padding: 12px 35px;
    background-color: rgba(231, 234, 243, .7);
}


.file-upload .preview-image {

    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0.375rem 0.75rem rgba(140, 152, 164, .075);
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    display: none;
}


.file-upload .preview-image .img {
    display: inline-flex;
    width: 100%;
    height: 250px;
    object-fit:fill;
    background: #f8fafd;
    border-radius: 6px;
    overflow: hidden;
}


.file-upload .preview-image .img img {
    width: 100%;
}


.file-upload .preview-image .img-details {
    position: relative;
    width: calc(100% - 60px);
}


.file-upload .preview-image .file-progress-bar {
    background: #00c9a7;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    margin-top: 10px;
}


.file-upload .preview-image .img-details h6 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.file-upload .preview-image .img-details .btn-delete {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    background: unset;
    right: -24px;
    height: 25px;
    width: 25px;
    top: 20px;
    color: RED;

    cursor: pointer;
}


.text-container {
    margin-top: 15px;
    text-align: justify;
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
    font-size: 14px;
    padding: 0 20px;
    color: green;
}
h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: bold;

}
